html {
  height: 100%;
}

#query {
  width: 100%;
  font-size: xx-small;
}

#query:focus {
  font-size: medium;
}

#query:hover {
  font-size: medium;
}

#githubBanner {
  position: fixed;
  right: 0;
  top: 0;
}

#audioPlay {
  cursor: pointer;
  vertical-align: middle;
}

#definitions div, #relatedwords div {
  margin: 5px;
  padding: 5px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

#relatedwords div {
  width: 10%;
}

#definitions div:nth-child(odd), #relatedwords div:nth-child(even) {
  background-color: lightyellow;
}

dd {
  margin: 0;
}
