html {
  height: 100%;
}

body {
  margin-top: 40px;
}

#githubBanner {
  position: fixed;
  top: 40px;
  right: 0;
}

@media(max-width: 979px) {
  #githubBanner {
    top: 50px;
  }
}

#relatedwords .separated {
  margin-left: 5px;
  margin-right: 5px;
}

#audioPlay {
  cursor: pointer;
  vertical-align: middle;
}

#definitions div, #relatedwords div {
  margin: 5px;
  padding: 5px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

#relatedwords div {
  width: 10%;
}

#definitions div:nth-child(odd), #relatedwords div:nth-child(even) {
  background-color: lightgrey;
}
