extends ../layout

block body
  .container-fluid(ng-controller="WordnikCtrl")
    .row-fluid
      <!-- Side bar -->
      .span3#side
        h1= title
        p The non-intrusive personal vocabulary builder
      <!-- Body -->
      .span9#main
        .row-fluid
          .span12
            input(type="text", ng-model='query')
            button.btn.btn-primary(ng-click='search()') Search
            select(ng-model='action', required, ng-options='act for act in actions')
        .row-fluid
          .span12
            ul
              li(ng-repeat='(key, result) in results')
                {{result | json}}
