extends ../layout

block body
  .container-fluid(ng-controller="WordnikCtrl")
    .row-fluid
      <!-- Side bar -->
      .span2#side
        h1= title
        p The non-intrusive personal vocabulary builder
        .row-fluid
        form(ng-submit='search()')
          input.span12(type='text', ng-model='query', autofocus,
          placeholder='Search Word')

      <!-- Body -->
      .span10#main
        .row-fluid
          article#results.span12
            header
              h1 {{ query }} 
                small(ng-bind-html-unsafe="results.pronunciations[0].raw")

            section
              audio#audio(controls,
                ng-src="{{results.audio[0].fileUrl}}",
                ng-show="results.audio"
                autoplay)

            section
              <!-- Definitions -->
              dl#definitions
                div(ng-repeat="def in results.definitions")
                  dt {{def.partOfSpeech}}
                  dd {{def.text}}

            section
              <!-- Related Words -->
              dl#relatedwords
                div(ng-repeat="related in results.relatedWords")
                  dt {{related.relationshipType}}
                  dd
                    span.separated(ng-repeat="word in related.words")
                      {{word}}
