extends ../layout

block side
  h1= title
  p The non-intrusive personal vocabulary builder

block content
  p Welcome aboard! Visit 
    a(href="http://locomotivejs.org/") LocomotiveJS 
    | for details.
