!!! 5
html
  head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container-fluid
      .row-fluid
        .span12
          block header
      .row-fluid
        .span2
          block side
        .span10
          block content
      .row-fluid
        .span12
          block footer
    script(src="/javascripts/bootstrap.min.js")
