!!! 5
html(ng-app="LeX")
  head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  body
    a(href="https://github.com/nons/lex/", target="_blank")
      img#githubBanner(
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
        alt="Fork me on Github")
    block body

    script(src="/javascripts/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/controllers.js")
